.widget_recent_posts a {
	padding-right: 50px;
}
.blog_details p {
	text-align: justify!important;
}
.blog_details p img,
.fulltext_section img {
	padding: 15px!important;
}
.blog_details .post_expand .post_header .post_title {
	text-align: left!important;
}
.more_posts .blog_post .post_header .post_title {
	text-align: left!important;
}
..blog_post .post_video iframe, .blog_post .post_video object, .blog_post .post_video embed, .blog_post .post_audio iframe, .blog_post .post_audio object, iframe {
	min-height: 420px!important;
}